@import "tailwindcss";

@keyframes drawCard {
  0% {
    transform: translate(200px, -100px) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.animate-draw {
  animation: drawCard 0.5s ease-out forwards;
}